<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Prompt:wght@400;700&display=swap">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <header class="site-header">
    <img src="header.png" alt="Header Image" class="header-image">
  </header>
  
  <!-- Navigation bar -->
  <nav class="site-navigation">
    <a href="/index.html">Home</a>
    <a href="/why.html">Why Minnesota</a>
    <a href="/resources.html">Resources</a>
    <a href="/testimonials.html">Testimonials</a>
    <a href="/volunteer.html">Donate/Volunteer</a>
  </nav>
  <hr>
  
  <div class="content-wrapper">
    <main>
      {{ content }}
    </main>
  </div>
  <footer class="site-footer">
    <img src="footer.png" alt="Footer Image" class="footer-image">
  </footer>
</body>
</html>
